.kaufman {
  background-color: #1f1f1f;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
