.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:  #f2f2f2;
  z-index: 1;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0 0 0 64px;
  font-weight: 700;
  font-size: 102px;
  line-height: 96px;
  align-self: center;
}

.header__subtitle {
  max-width: 388px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.header__link:hover {
  background-color: #2f80ed;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  object-fit: contain;
  object-position: right bottom;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;

}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.description {
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0 0 20px 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;

}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table {
  list-style: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 100px auto 70px;
  max-width: 648px;
  width: 100%;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.feynman__link:hover {
  background-color: #2f80ed;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.kaufman {
  background-color: #1f1f1f;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;

}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
}

.footer__column_content_social {
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 16px;
}

.footer__column-link{
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.footer__column-link:hover {
  background-color: #2f80ed;
  color: #ffffff;
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin: 18px 0;
}
